html,
body,
header,
.carousel {
  height: 60vh;
}

.custom-class {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-container {
  margin-top: 1rem;
}

.categories-container {
  margin-bottom: 1rem;
}

.product-container,
.order-summary-container,
.checkout-container {
  margin-top: 2rem;
}

.cart-container {
  display: "flex" !important;
  justify-content: "center" !important;
  align-items: "center" !important;
  margin: "auto" !important;
}

.clickable-container {
  cursor: pointer;
}

.fa-disabled {
  opacity: 0.6 !important;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
